*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}
.main{
   
   min-height: 70vh;
   width: 100%;
    background-color: #fff;
    background-image: url(./image/pahar.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
 
}

nav{
    display:flex;
    padding:2% 6%;
    justify-content:space-between;
    align-items:center;

}
nav a{
    color: rgb(246, 233, 233);
}

.nav-links{
    flex: 1;
    text-align:right;
}
.nav-links ul li{
list-style:none;
display:inline-block;
padding: 8px 12px;
position: relative;
}
.nav-links ul li a{
    color: rgb(247, 240, 240);
    text-decoration:none;
    
}
 .nav-links ul li::after{
  content:'';
  width:0%;
  height:2px;
  background:#f44336;
  display:block;
  margin:auto;
  transition:0.5s;
     
} 
.nav-links ul li:hover::after{
    width: 100%;
      
  }
/* navbar responsive */
@media screen and (max-width:600px){
    .main{
      flex-direction:column;
    }
    .main a{
        background-color:gray;
    }
}


header{
    text-align: center;
    padding-top: 100px;
}



/* section two */

.column{
    float: left;
    /* display:flex;
    flex-wrap: wrap; */
    width:50%;
   
}


.row{
 
    margin: 0px 50px;
}


.waterManImg{
    width: 650px;
}

.textPosition{
    margin-left:50px;
    margin-top: 80px;
    margin-bottom: 50px;
}
@media screen and (max-width:992px){
    . fullHeightResponsiv{
      
        flex-direction:column;
       margin-left: 0px;
        width:100%;
    }
    .fullHeightResponsivTwo{
        flex-direction:column;
        width:100%;
    }
}
@media screen and (max-width:600px){
    . fullHeightResponsiv{
        /* flex-direction:column;
       margin-left: 0px; */
        width:100%;
    }
    .fullHeightResponsivTwo{
        flex-direction:column;
        width:100%;
       
    }
    
}

@media screen and (max-width:400){

    . fullHeightResponsiv{
        flex-direction:column;
       
        width:100%;
    }
    .fullHeightResponsivTwo{
        flex-direction:column;
        width:100%;
    }
}
.sliderImg{
    width: 600px;
    height: 400px;
    margin-left: 30px;
}
 

.inputSection{
    align-items:center;
    justify-content: center;
    margin-top: 20 0px;
}




